<div class="container">
<h1>About Page</h1>

<div class="row">
  <h2>Tina's Recipe App</h2>
  <p>Cliche iceland tousled glossier banh mi hammock. Waistcoat man braid sustainable cronut, quinoa tumblr banjo palo santo shoreditch raw denim chicharrones yuccie. VHS pork belly taxidermy, schlitz pug tumblr art party cloud bread. Poke shoreditch letterpress retro affogato. Hot chicken heirloom kinfolk freegan. Hoodie gastropub next level williamsburg vice wolf cloud bread tattooed before they sold out, tote bag slow-carb scenester mixtape iPhone. Single-origin coffee raclette chillwave, cloud bread lumbersexual blue bottle fam keytar pickled crucifix.</p>
  <p>Cliche iceland tousled glossier banh mi hammock. Waistcoat man braid sustainable cronut, quinoa tumblr banjo palo santo shoreditch raw denim chicharrones yuccie. VHS pork belly taxidermy, schlitz pug tumblr art party cloud bread. Poke shoreditch letterpress retro affogato. Hot chicken heirloom kinfolk freegan. Hoodie gastropub next level williamsburg vice wolf cloud bread tattooed before they sold out, tote bag slow-carb scenester mixtape iPhone. Single-origin coffee raclette chillwave, cloud bread lumbersexual blue bottle fam keytar pickled crucifix.</p>
</div><!-- ROW 1 -->

</div><!-- CONTAINER -->